.Typing-form-container {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: hsl(0, 0%, 7%);
    border-radius: 8px;
    height: 60vh;
    overflow-y: auto;
    font-size: 1.5rem;
    line-height: 1.6;
}

.normalStyle{
    color: hsl(240, 3%, 46%);
}
.errorStyle {
    text-decoration: underline;
    color: hsl(354, 63%, 57%);
}
.correctStyle {
    color: hsl(140, 63%, 57%);
}