#TypingTest-button Button{
    border-radius: 10px;
    text-transform: none;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    font-size: medium;
    /* background-color: white; */
    /* opacity: 0.75; */
    /* background-color: hsla(240, 1%, 59%, 0.5); */
    
    background-color: rgba(255,255,255, 0.1);
}

#TypingTest-button img {
    width: 1rem;
    margin: 0.5rem;
}