.Typing-text-container {
    -webkit-overflow-scrolling: touch;
    /* margin-top: 2rem;
    margin-bottom: 2rem; */
    /* padding: 1rem 2rem; */
    background-color: hsl(0, 0%, 7%);
    border-radius: 8px;
    /* height: 75vh; */
    /* overflow-y: auto; */
    font-size: 1.5rem;
    line-height: 1.6;
}

.word {
    display: inline-block;
}

.char {
    color: hsl(240, 3%, 46%);
}

.char-wrapper {
    position: relative;
    display: inline-block;
}

.error {
    text-decoration: underline;
    color: hsl(354, 63%, 57%);
}

.correct {
    color: hsl(140, 63%, 57%);
}

.cursor {
    position: absolute;
    inset: 0;
    background-color: white;
    opacity: 0.25;
    border-radius: 4px;
    pointer-events: none;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}