#button Button{
    border-radius: 10px;
    text-transform: none;
    color: white;
    font-weight: 100;
    border-color: rgba(255,255,255, 0.5);
}

#button Button:hover{
    color: hsl(210, 100%, 65%);;
    border-color: hsl(210, 100%, 65%);
}

#button Button:active{
    color: hsl(210, 100%, 65%);
}

div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.MuiMenu-paper.css-1tktgsa-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
 background-color: hsl(0, 0%, 15%);
}